<footer>
  <div class="footer_row">
    {%- include social-link.html type="contact" large=true -%}
    {%- include social-link.html type="facebook" large=true -%}
    <!-- {%- include social-link.html type="twitter" large=true -%} -->
    <!-- {%- include social-link.html type="instagram" large=true -%} -->
    {%- comment -%}
    {%- include social-link.html type="rss" large=true -%}
    {%- endcomment -%}
  </div>
  <br>
  <div class="footer_row">
    <i class="far fa-copyright"></i><a href="https://ez-webpage.com/">2020 EZ-webpage.com All Rights Reserved</a>
  </div>
  <!-- &copy; <script>document.write(new Date().getFullYear())</script> {{ site.title }} -->
</footer>
