<header>
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
    data-placement="bottom"
    data-delay="400"
  >
    <span class="logo">
      {%- include logo.svg -%}
      <!-- <img src="{{ "images/logo.png" | relative_url }}" /> -->
    </span>
    <span class="logo_text">{{ site.title }}</span>
  </a>
  <nav class="nav_row">

    {%- comment -%}
    Add or remove header nav links here.
    
    Be wary of different screen sizes. Test by resizing your browser window
    from full-width to very narrow. Adjust the $tablet and $phone cutoff points
    in /css/variables.scss until the header elements wrap at the right time.
    {%- endcomment -%}

    <a
      href="{{ '/' | relative_url }}"
      class="nav_link"
      data-tooltip="Home"
      data-placement="bottom"
      data-delay="400"
      >หน้าหลัก</a
    >
    <a
      href="{{ 'services' | relative_url }}"
      class="nav_link"
      data-tooltip="Services"
      data-placement="bottom"
      data-delay="400"
      >บริการของเรา</a
    >
    <a
      href="{{ 'gallery' | relative_url }}"
      class="nav_link"
      data-tooltip="Gallery"
      data-placement="bottom"
      data-delay="400"
      >ผลงานของเรา</a
    >
    <a
      href="{{ 'contact' | relative_url }}"
      class="nav_link"
      data-tooltip="Contact"
      data-placement="bottom"
      data-delay="400"
      >ติดต่อเรา</a
    >
  </nav>
</header>
