<head>
  <meta name="google-site-verification" content="W60qPJpmYM7YjiwHSSClwlba87U7b8uTOpdetEPC-FI" />
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XSEQQL1WXG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XSEQQL1WXG');
  </script>
 
  <title>
    {{ site.title }}{% if page.title %} - {% endif %}{{ page.title }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include meta.html %}
  {% include icons.html %}
  {% include fonts.html %}
  {% include styles.html %}
  {% include scripts.html %}
</head>
